@font-face {
    font-family: Black_emerald;
    src: url(fonts/Black_Emerald.ttf);
}
@font-face {
    font-family: RawglyRegular;
    src: url(fonts/RawglyRegular-MVyWP.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1E7E0;
}

/* NAVBAR */

nav {
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    padding: 0 3vw;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Distributes space between the elements */
    z-index: 3; /* Ensure it stays above other elements */
    font-family:Black_emerald, Arial, Helvetica, sans-serif;
}

#logo {
    height: 25px;
}

nav h1 {
    margin: 0; /* Removes default margin around h1 */
    font-size: 1.5rem; /* Adjust font size */
    color:#580E20 ;
}

#manubar{
    height: 23px;
}
header ul{
    width: 94vw;
    height: 2px;
    background-color: #152945;
    left: 3vw;
    position: relative;
    top: 0;
}

/* MAIN SECTION */

.topsec div{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topsec div p {
    color: #152945;
    font-family: RawglyRegular;
    font-size: 7.5rem;
    line-height: 96%;
    font-weight: 400;
    text-align: center;
}

.radiusimg {
    position: absolute;
    top: 28%; 
    left: 52%;
    transform: translate(-50%, -50%);
    width: 10rem; /* This will make the image responsive */
    height: auto;
    z-index: 10; 
}
 
/* Responsive styles */
@media (max-width: 768px) {
    .topsec div p {
        font-size: 5rem; 
    }

    .radiusimg {
        width: 7rem;
        top: 38.5%; 
    }
}

@media (max-width: 480px) {
    .topsec div p {
        font-size: 3.5rem; 
    }

    .radiusimg {
        width: 40vw; 
    }
}